:root {
  --color-black:                #000000;

  --color-black-russian:        #21242e;
  --color-whisper:              #ebebeb;
  --color-white-smoke:          #f7f7f7;

  --color-white:                #ffffff;

  --color-winter-haze:          #d0bc7a;

  --color-white-008:            rgba(255, 255, 255, 0.08);
  --color-white-016:            rgba(255, 255, 255, 0.16);
  --color-white-040:            rgba(255, 255, 255, 0.4);
  --color-white-080:            rgba(255, 255, 255, 0.8);

  --color-black-russian-040:    rgba(33, 36, 46, 0.4);
  --color-black-russian-080:    rgba(33, 36, 46, 0.8);


  --font-primary: "TT Norms", "Arial", sans-serif;
  --font-secondary: "PF Regal Display", "Arial", sans-serif;


  --transition-400: 0.4s ease;
}

@font-face {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/tt-norms-400.woff2") format("woff2"),
    url("../fonts/tt-norms-400.woff") format("woff");
}

@font-face {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/tt-norms-500.woff2") format("woff2"),
    url("../fonts/tt-norms-500.woff") format("woff");
}

@font-face {
  font-family: "PF Regal Display";
  font-style: italic;
  font-weight: 500;
  src:
    url("../fonts/pf-regal-display-pro-500i.woff2") format("woff2"),
    url("../fonts/pf-regal-display-pro-500i.woff") format("woff");
}

html {
  font-size: 21.33333px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black-russian);
  background-color: var(--color-white);
}

main {
  flex: 1 1 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}

.block-scroll {
  position: fixed;
  overflow-y: scroll;
}

.link {
  color: var(--color-black-russian);
  transition:
    color var(--transition-400),
    opacity var(--transition-400);
}

.link--logo {
  color: var(--color-winter-haze);
}

.link--inverted {
  color: var(--color-winter-haze);
}

.link--footer {
  color: var(--color-white-080);
}

.link[href]:hover,
.link:focus {
  color: var(--color-winter-haze);
}

.link--inverted[href]:hover,
.link--inverted:focus {
  color: var(--color-black-russian);
}

.link--logo[href]:hover,
.link--logo:focus {
  color: var(--color-winter-haze);
  opacity: 0.72;
}

.link--footer[href]:hover,
.link--footer:focus {
  color: var(--color-winter-haze);
}

.link:active {
  opacity: 0.72;
}

.link--logo:active {
  opacity: 0.44;
}

.btn {
  cursor: pointer;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black-russian);
  border: none;
  border-radius: 4px;
  transition:
    background-color var(--transition-400),
    opacity var(--transition-400);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-winter-haze);
}
.btn:active {
  opacity: 0.72;
}

.header {
  position: relative;
  z-index: 22;
  flex: 0 0 auto;
  padding: 20px 0;
}

.header .col {
  display: flex;
  align-items: center;
  max-width: unset;
  margin: 0 -48px;
}

.header__logo {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  margin-right: 105px;
}

.header__logo svg {
  display: block;
  width: 91px;
  height: 32px;
}

.main-nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.main-nav__header-menu {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-right: 32px;
  padding: 0;
  list-style: none;
}

.main-nav__header-menu-item {
  position: relative;
}

.main-nav__header-menu-item:not(:last-of-type) {
  margin-right: 16px;
}

.main-nav__header-menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main-nav__header-menu-link span {
  display: inline-block;
  margin-right: 2px;
}

.main-nav__header-menu-link svg {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.main-nav__header-submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 16px;
  z-index: 11;
  width: max-content;
  min-width: 120px;
  max-width: 200px;
  margin: 0;
  padding: 8px;
  list-style: none;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 2px 5px -2px var(--color-winter-haze);
  transform: translateY(8px);
  transition:
    visibility var(--transition-400),
    opacity var(--transition-400),
    transform var(--transition-400);
}

.main-nav__header-menu-link:hover ~ .main-nav__header-submenu,
.main-nav__header-menu-link:focus ~ .main-nav__header-submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.main-nav__header-submenu-link {
  width: fit-content;
}

.main-nav__phone-link {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main-nav__phone-link svg {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.main-nav__phone-link span {
  display: inline-block;
}

.main-nav__user-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 32px;
  padding: 0;
  list-style: none;
}

.main-nav__user-menu-link {
  display: flex;
  align-items: center;
}

.main-nav__user-menu-link svg {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.main-nav__toggle {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  border: none;
  transition: opacity var(--transition-400);
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--color-black-russian);
  transition:
    background-color var(--transition-400),
    transform var(--transition-400);
}

.main-nav__toggle::before {
  transform: translate(-50%, calc(-50% - 3px));
}

.main-nav__toggle::after {
  transform: translate(-50%, calc(-50% + 3px));
}

.main-nav.open .main-nav__toggle::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-nav.open .main-nav__toggle::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main-nav__toggle:hover::before,
.main-nav__toggle:hover::after,
.main-nav__toggle:focus::before,
.main-nav__toggle:focus::after {
  background-color: var(--color-winter-haze);
}

.main-nav__toggle:active {
  opacity: 0.72;
}

.main-nav__full-menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white)  ;
  transition:
    visibility var(--transition-400),
    opacity var(--transition-400);
}

.main-nav__full-menu::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  background-image: linear-gradient(to bottom,var(--color-white) 70%, transparent 100%);
}

.main-nav.open .main-nav__full-menu {
  visibility: visible;
  opacity: 1;
}

.full-menu {
  overflow-y: auto;
}

.full-menu__wrapper {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 96px 0;
}

.full-menu__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}

.full-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.full-menu__item {
  font-size: 16px;
  line-height: 1.5;
}

.full-menu__item:not(:last-of-type) {
  margin-bottom: 16px;
}

.full-menu__link--contacts {
  display: flex;
  align-items: flex-start;
  width: fit-content;
}

.full-menu__link--contacts svg {
  display: inline-block;
  flex: 0 0 auto;
  margin-top: 4px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.full-menu__link--contacts span {
  display: inline-block;
  flex: 0 1 auto;
}

.profile {
  position: relative;
  margin-bottom: 112px;
  border-bottom: 1px solid var(--color-whisper);
}

.profile__menu {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: calc(50% - 1120px / 2);
  width: calc(6 / 35 * 1120px);
  border-right: 1px solid var(--color-whisper);
}

.profile__menu::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--color-white);
}

.profile__menu-inner {
  position: relative;
  z-index: 1;
  padding: 112px 0;
}

.profile__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.profile__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.profile__menu-link--current {
  color: var(--color-winter-haze);
}

.profile__title {
  padding: 112px 0 80px;
  border-top: 1px solid var(--color-whisper);
}

.profile__title-content {
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
}

.profile-form__section {
  padding: 80px 0;
  border-top: 1px solid var(--color-whisper);
}

.profile-form__section:last-child {
  padding-bottom: 112px;
}

.profile-form__title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}

.profile-form__label {
  display: block;
}

.profile-form__label:not(:last-child) {
  margin-bottom: 24px;
}

.profile-form__label span {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black-russian-040);
}

.profile-form__input-wrapper {
  position: relative;
}

.profile-form__label input {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  background-color: var(--color-white-smoke);
  border: none;
  border-radius: 4px;
  transition: color var(--transition-400);
}

.profile-form__label input:hover,
.profile-form__label input:hover {
  color: var(--color-black-russian-080);
}

.profile-form__label input::placeholder {
  color: var(--color-black-russian-040);
  transition: color var(--transition-400);
}

.profile-form__label input:hover::placeholder,
.profile-form__label input:focus::placeholder {
  color: var(--color-black-russian-080);
}

.profile-form__change-view-btn input {
  padding-right: 56px;
}

.profile-form__change-view-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  padding: 0;
  color: var(--color-black-russian-040);
  background-color: transparent;
  border: none;
  transition:
    color var(--transition-400),
    opacity var(--transition-400);
}

.profile-form__change-view-btn svg {
  display: block;
  width: 24px;
  height: 24px;
}

.profile-form__change-view-btn:hover,
.profile-form__change-view-btn:focus {
  color: var(--color-black-russian);
}
.profile-form__change-view-btn:active {
  opacity: 0.72;
}

.profile-form__input-wrapper input[type="password"] ~ .profile-form__change-view-btn .denial {
  display: none;
}

.footer {
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-white-040);
  background-color: var(--color-black-russian);
  background-image: url('../images/bg-footer.jpg');
  background-size: 100% 100%;
}

.footer__menu {
  padding: 56px 0;
  border-bottom: 1px solid var(--color-white-016);
}

.footer__contacts {
  padding: 32px 0;
  border-bottom: 1px solid var(--color-white-016);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__item:not(:last-of-type) {
  margin-right: 8px;
}

.footer-social__link {
  display: flex;
  width: 32px;
  height: 32px;
  color: var(--color-winter-haze);
  background-color: var(--color-white-008);
  border: 1px solid var(--color-white-016);
  border-radius: 50%;
  transition:
    border-color var(--transition-400),
    opacity var(--transition-400);
}

.footer-social__link:hover,
.footer-social__link:focus {
  border-color: var(--color-winter-haze);
}

.footer-social__link:active {
  opacity: 0.72;
}

.footer-social__link svg {
  display: block;
  margin: auto;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.footer__copyright-content {
  margin: 0;
}

.footer__developer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__developer-link {
  display: flex;
  align-items: center;
  color: var(--color-white-040);
}

.footer__developer-link:hover,
.footer__developer-link:focus {
  color: var(--color-white);
  opacity: 0.72;
}
.footer__developer-link:active {
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-white);
  opacity: 0.58;
}

.footer__developer-link span {
  display: inline-block;
  margin-right: 8px;
}

.footer__developer-link svg {
  display: inline-block;
  width: 13px;
  height: 11px;
}

.footer__disclaimer {
  padding: 32px 0;
}

.footer__disclaimer-content {
  margin: 0;
}
