@media (max-width: 1279px) {
  .header__logo {
    margin-right: 80px;
  }

  .profile__menu {
    left: 80px;
    width: calc(6 / 35 * (100% - 2* 80px));
  }
}

@media (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }

  .header .col {
    margin: 0 -24px;
  }

  .header__logo {
    margin-right: 40px;
  }

  .main-nav__phone-link {
    margin-right: 0;
  }

  .main-nav__phone-link span {
    display: none;
  }

  .profile__menu {
    left: 40px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }

  .btn {
    width: 100%;
    padding: 12px 24px;
  }

  .header .col {
    justify-content: space-between;
    margin: 0;
  }

  .main-nav {
    flex: 0 0 auto;
  }

  .main-nav__header-menu {
    display: none;
  }

  .full-menu .col-lg-4:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .profile {
    margin-bottom: 64px;
    border-bottom: none;
  }

  .profile__menu {
    position: static;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--color-whisper);
  }

  .profile__menu::before {
    content: unset;
  }

  .profile__menu-inner {
    position: static;
    padding: 8px 16px;
  }

  .profile__menu-list {
    display: flex;
    overflow-x: auto;
  }

  .profile__menu-item {
    flex: 0 0 auto;
  }

  .profile__menu-link {
    width: max-content;
  }

  .profile__menu-item:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .profile__menu-item:last-child {
    margin-left: auto;
  }

  .profile__title {
    padding: 32px 0;
  }

  .profile__title-content {
    font-size: 35px;
    line-height: 1.14;
  }

  .profile-form__section {
    padding: 32px 0;
    border-top: 1px solid var(--color-whisper);
  }

  .profile-form__section:first-child {
    padding-top: 0;
    border-top: none;
  }

  .profile-form__section:last-child {
    padding-bottom: 0;
  }

  .profile-form__title {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .profile-form__label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .profile-form input:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .profile-form__input-wrapper:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  .main-nav__user-menu {
    margin-right: 16px;
  }

  .full-menu__wrapper {
    display: block;
    padding-bottom: 40px;
  }

  .full-menu__title {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .full-menu__item:not(:last-of-type) {
    margin-bottom: 8px;
  }

  .trends {
    margin-bottom: 64px;
  }

  .trends__container {
    display: block;
  }

  .trends__slider {
    margin: 32px 0;
  }

  .footer__menu {
    padding: 64px 0 40px;
  }

  .footer__contacts {
    padding: 40px 0;
  }

  .footer-social {
    margin-bottom: 16px;
  }

  .footer__copyright {
    display: block;
    margin-bottom: 16px;
  }

  .footer__developer {
    display: block;
  }

  .footer__disclaimer {
    padding: 40px 0 64px;
  }
}

@media (max-width: 575px) {
  .header__logo {
    margin-right: 24px;
  }

  .main-nav__user-menu {
    margin-right: 16px;
  }

  .trends__title {
    font-size: 28px;
    line-height: 1.14;
  }

  .product-card__badge {
    top: 16px;
    left: 16px;
  }

  .product-card__like-btn {
    top: 18px;
    right: 16px;
  }

  .product-card__details {
    padding: 16px;
  }

  .product-card__current-price {
    margin: 0;
    margin-right: 8px;
  }
}

@media (max-width: 374px) {
  .header__logo {
    margin-right: 4px;
  }

  .main-nav__user-menu {
    margin-right: 0;
  }
}
